@keyframes snow {
  0% {
    transform: translateY(-10vh);
    opacity: 0.9;
  }
  100% {
    transform: translateY(120vh);
    opacity: 0;
  }
}

.animate-snow {
  animation: snow linear infinite;
  animation-duration: 10s;
}