# Configuración de base de datos
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

# Configuración del servidor
PORT=

# Seguridad - JWT
JWT_SECRET=
JWT_EXPIRES_IN=1d

# CORS
CLIENT_URL=http://localhost:5173

# Prisma ORM (formato: mysql://USER:PASSWORD@HOST:PORT/DATABASE)
DATABASE_URL="mysql://root:password@localhost:3306/rapido_sabroso"