.Content-all {
    width: 210px;
    margin: 50px auto 0 auto;
    padding-top: 50px;
    perspective: 1000px;
    position: relative;
}

.Content-carrusel {
    width: 100%;
    animation: rotar 25s infinite linear;
    transform-style: preserve-3d;
    position: relative;
    height: 200px;
}

.Content-carrusel:hover {
    animation-play-state: paused;
    cursor: pointer;
}

.Content-carrusel figure {
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 0px 25px 0px black;
    transition: all 300ms;
}

.Content-carrusel figure:hover {
    box-shadow: 0px 0px 0px 0px black;
}

.Content-carrusel figure:nth-child(1) { transform: rotateY(0deg) translateZ(300px); }
.Content-carrusel figure:nth-child(2) { transform: rotateY(40deg) translateZ(300px); }
.Content-carrusel figure:nth-child(3) { transform: rotateY(80deg) translateZ(300px); }
.Content-carrusel figure:nth-child(4) { transform: rotateY(120deg) translateZ(300px); }
.Content-carrusel figure:nth-child(5) { transform: rotateY(160deg) translateZ(300px); }
.Content-carrusel figure:nth-child(6) { transform: rotateY(200deg) translateZ(300px); }
.Content-carrusel figure:nth-child(7) { transform: rotateY(240deg) translateZ(300px); }
.Content-carrusel figure:nth-child(8) { transform: rotateY(280deg) translateZ(300px); }
.Content-carrusel figure:nth-child(9) { transform: rotateY(320deg) translateZ(300px); }
.Content-carrusel figure:nth-child(10) { transform: rotateY(360deg) translateZ(300px); }

.Content-carrusel img {
    width: 100%;
    transition: all 500ms;
    transform-origin: center center;
}

.Content-carrusel img:hover {
    transform: scale(1.1);
}

@keyframes rotar {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}